.catalog {
    display: flex;
    column-gap: 25px;
    margin: 0 auto;

    @media (max-width: 1023px) {
        flex-direction: column;
        row-gap: 12px;
    }
}

.catalog__products {
    flex-grow: 1;
}

.catalog__filters {
    flex-shrink: 0;
}
