.products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px 27px;

    @media (max-width: 1279px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 1023px) {
        row-gap: 12px;
        column-gap: 3%;
    }

    &--fresh {
        display: flex;
        column-gap: 27px;

        @media (max-width: 1023px) {
            column-gap: 12px;
        }
    }
}

.no-product {
    width: 100%;
    border: 2px dashed rgba(225, 225, 225, .3);
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: Geometria;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.52px;
    color: #EAEDBD;
}
