.cart {
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    border-radius: 24px;
    border: 1px solid #eaedbd;
    background: #1d1c1c;
    position: relative;
    width: 380px;
    height: calc(100vh - 48px);

    @media (max-width: 1023px) {
        border: unset;
        width: 100%;
    }
}

.cart__closed-button {
    width: 32px;
    height: 32px;
    border-radius: 200px;
    border: 2px solid #eaedbd;
    padding: 8px;
    background-color: inherit;
    position: absolute;
    top: 36px;
    right: 24px;

    > svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.cart__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 18px;
}

.cart__list {
    display: flex;
    flex-direction: column;
}

.cart__item {
    display: flex;
    column-gap: 16px;
    padding: 24px 0;
    border-top: 2px solid #343434;

    &:last-child {
        border-bottom: 2px solid #343434;
    }

    &.cart__item_second {
        border: 0;
        align-items: center;
        @media (max-width: 1024px) {
            align-items: stretch;
        }

        .cart__wrapper {
            align-items: center;
            justify-content: flex-end;
            flex-direction: row;

            @media (max-width: 1024px) {
                align-items: flex-start;
                flex-direction: column;
                .cart__amount-input {
                    text-align: center;
                }

                .cart__product-name {
                    margin-bottom: auto;
                }
            }

            &-bottom {
                display: flex;
            }

        }

        .cart__img-link {
            display: flex;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
            }
        }
        .cart__product-name {
            font-size: 16px;
            line-height: 110%;
            margin-left: 12px;
        }
        svg,
        .cart__img {
            width: 56px;
            height: 56px;
        }

        .cart__img-wrap {
            width: 56px;
            height: 56px;
        }

        .card__count {
            display: flex;
            align-items: center;
            flex-direction: column;
            min-width: 80px;
            margin: 0 12px;
            strong {
                font-size: 12px;
                font-style: normal;
                font-weight: 800;
                line-height: 120%;
                color: #343434;
                text-transform: capitalize;
                margin-bottom: 5px;
            }
        }

        .cart__price-data {
            display: flex;
            align-items: center;
            flex-direction: column;

            strong {
                font-size: 12px;
                font-style: normal;
                font-weight: 800;
                line-height: 120%;
                color: #343434;
                text-transform: capitalize;
                margin-bottom: 5px;
            }
        }

        .cart__price {
            min-width: 80px;
            &:nth-of-type(2) {
                margin-right: -12px;
            }
        }
    }
}

.cart__img {
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 4px;
    img {
        width: 100%;
        height: 100%;
    }
}

.cart__img-wrap {
    img {
        width: 100%;
        height: 100%;
    }
}

.cart__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.cart__content-wrapper {
    flex-basis: 100%;
}

.cart__product-name {
    font-weight: 900;
    font-size: 22px;
    line-height: 125%;
    color: #fff;
}

.cart__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.cart__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cart__amount-container {
    display: flex;
    width: 76px;
    background-color: #21211e;
}

.cart__amount-button {
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 90%;
    text-align: center;
    border-radius: 5.527px;
    background-color: #fbffca;
    color: #6b5a25;
    width: 22px;
    height: 21px;
}

.cart__amount-input {
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 100%;
    width: 32px;
    background-color: #21211e;
    color: #fbffca;
    padding-left: 12px;

    @media (max-width: 1023px) {
        padding-left: 0;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    &[type='number'] {
        -moz-appearance: textfield;
    }
}

.cart__delete-button {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-decoration-line: underline;
    background-color: inherit;
    color: #fff;
    opacity: 0.3;
}

.cart__checkout-wrapper {
    margin-top: auto;
}

.cart__checkout-button {
    margin: 0 auto 12px;
}

.cart__notice {
    display: block;
    font-size: 12px;
    line-height: 100%;
    opacity: 0.3;
    text-align: center;
}

.cart__img-link {
    > svg {
        display: block;
        width: 130px;
        height: 130px;
    }
}

.order-detail {
    position: relative;

    &__loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.is-loading {
        .order-detail__contact,
        .order-detail__button,
        .order-detail__sum {
            opacity: 0.3;

            button {
                pointer-events: none;
            }
        }
    }
    &__button {
        justify-content: center;
        display: flex;
        .button {
            &:not(:last-child) {
                margin-right: 10px;
            }

            &:nth-of-type(2) {
                background-color: #fff;
            }
        }
    }

    &__sum,
    &__contact {
        padding: 10px 5px;
        border-radius: 10px;
        border: 1px solid #fff;
    }

    &__sum {
        margin: 12px 0 30px;
    }
    &__sum-item,
    &__contact-item {
        color: #eaedbd;
        &:not(:last-child) {
            margin-bottom: 12px;
        }

        strong {
            font-weight: 700;
            color: #fff;
            margin-left: 5px;
        }
    }
}
