.button {
    display: block;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    border-radius: 24px;
    padding: 15px 34px;
    color: #6b5a25;
    background: #eaedbd;
    text-align: center;

    &--product {
        min-width: 125px;
        padding: 11px 12px;

        &:disabled {
            font-weight: 700;
            padding: 11px 0;
            text-transform: uppercase;
            background-color: inherit;
            color: #fff;
        }
    }
}