.button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;

    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    border-radius: 24px;
    padding: 15px 34px;
    color: #6b5a25;
    background: #eaedbd;
    text-align: center;

    @media (max-width: 1023px) {
        font-size: 9px;
        line-height: 100%;
        border-radius: 100px;
    }

    &--header {
        padding: 12px 34px;

        @media (max-width: 1023px) {
            padding: 5px 16px;
        }
    }

    &--slider {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        border: currentColor;

        @media (max-width: 1023px) {
            padding: 12px 20px;
            font-size: 12px;
            line-height: 12px;
        }
    }

    &--product {
        min-width: 125px;
        padding: 11px 12px;

        @media (max-width: 1023px) {
            min-width: auto;
            padding: 6px 10px;
        }

        &:disabled {
            font-weight: 700;
            padding-right: 0;
            padding-left: 0;
            text-transform: uppercase;
            background-color: inherit;
            color: #fff;
        }
    }

    &--buying {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        padding: 14px 35px;

        @media (max-width: 1023px) {
            font-size: 12px;
            line-height: 100%;
            padding: 12px 21px;
        }
    }

    &--cart {
        font-size: 16px;
        line-height: 100%;
        border-radius: 100px;

        @media (max-width: 1023px) {
            font-size: 14px;
            line-height: 100%;
            padding: 12px 32px;
        }
    }
}
