.login-form {
    width: 42%;
    padding: 48px 64px 64px;
    margin: 0 auto;
    border-radius: 24px;
    background: #1d1c1c;

    @media (max-width: 1023px) {
        width: 91%;
        padding: 24px 20px 32px;
        border-radius: 12px;
    }
}

.login-form__wrapper {
    display: flex;
    flex-direction: column;
}

.login-form__toggle {
    margin: 0 auto;
    margin-bottom: 48px;
    align-self: center;

    @media (max-width: 1023px) {
        margin-bottom: 21px;
    }
}

.login-form__form {
    margin-bottom: 18px;

    @media (max-width: 1023px) {
        margin-bottom: 11px;
    }
}

.login-form__forgot-password {
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    text-decoration: underline;
    color: #ffffff;

    @media (max-width: 1023px) {
        font-size: 12px;
    }
}

.login-form__register-notice {
    font-size: 12px;
    font-weight: 700;
    opacity: 0.3;
    line-height: 100%;
    text-align: center;
    display: block;
    margin-top: -5px;
    align-self: center;

    @media (max-width: 1023px) {
        width: 188px;
        font-size: 11px;
        line-height: 110%;
    }
}

.login-form__policy {
    display: inline;
    text-decoration: underline;
    color: #ffffff;
}
