.product-card {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    // max-width: 353px;
    width: 100%;
    padding: 10px;
    border-radius: 24px;
    background-color: #1d1c1c;
    position: relative;

    @media (max-width: 1023px) {
        width: 100%;
        padding: 8px;
        border-radius: 12px;
    }

    @media (max-width: 359px) {
        padding: 4px;
        border-radius: 4px;
    }

    &--discount .product-card__discount,
    &--discount .product-card__full-price {
        display: block;
    }

    &--discount .product-card__title {
        grid-area: 1 / 1 / 2 / 3;
    }

    &--disabled {
        opacity: 0.5;
    }

    &--soon,
    &--limited {
        &::before {
            position: absolute;
            top: 36px;
            right: -32px;
            width: 160px;
            padding-top: 2px;
            line-height: 22px;
            font-size: 16px;
            font-weight: 800;
            text-transform: uppercase;
            text-align: center;
            border-radius: 4px;
            background-color: #fd3366;
            transform: rotate(45deg);
            clip-path: polygon(15% 0, 85% 0%, 100% 100%, 0% 100%);

            @media (max-width: 1023px) {
                top: 18px;
                right: -18px;
                width: 84px;
                font-size: 8px;
                line-height: 10px;
                padding-bottom: 2px;
                clip-path: polygon(17% 0, 83% 0%, 100% 100%, 0% 100%);
            }
        }
    }

    &--soon {
        &::before {
            content: "Drop soon";
        }
    }

    &--limited {
        &::before {
            content: "Limited";
        }
    }
}

.product-card__link {
    color: inherit;

    &--disabled {
        pointer-events: none;
    }
}

.product-card__img-container {
    padding: 37px 41px;
    border-radius: 20px;
    background-color: #343434;
    margin: 0 auto;

    @media (max-width: 1439px) {
        padding: 24px;
    }

    @media (max-width: 1023px) {
        padding: 12px;
        border-radius: 4px;
    }
}

.product-card__img {
    display: block;
    width: 251px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
    margin: 0 auto;

    @media (max-width: 1023px) {
        width: 100%;
        border-radius: 4px;
    }
}

.product-card__text-wrapper {
    display: grid;
    grid-template-columns: 38% 28% 34%;
    grid-template-rows: 1fr auto 43px auto auto;
    justify-content: space-between;
    align-items: end;
    padding: 8px 10px;
    position: relative;
    flex-grow: 1;

    @media (max-width: 1023px) {
        grid-template-rows: 1fr auto 21px auto auto;
        padding: 8px 0px;
    }

    &::after {
        content: "";
        position: absolute;
        width: calc(100% - 20px);
        height: 1px;
        background-color: #343434;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);

        @media (max-width: 1023px) {
            width: calc(100% - 8px);
            bottom: 39px;
        }
    }
}

.product-card__title {
    font-size: 28px;
    line-height: 35px;
    font-weight: 900;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    grid-area: 1 / 1 / 2 / -1;
    align-self: start;

    @media (max-width: 1023px) {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.6px;
        margin-top: 6px;
    }
}

.product-card__made {
    line-height: 20px;
    font-weight: 800;
    opacity: 0.3;
    grid-area: 2 / 1 / 3 / 3;

    @media (max-width: 1023px) {
        font-size: 8px;
        line-height: 10px;
    }
}

.product-card__discount {
    display: none;
    font-size: 23px;
    font-weight: 900;
    letter-spacing: 1.15px;
    text-transform: uppercase;
    border-radius: 24px;
    color: #eaedbd;
    background-color: #343434;
    padding: 17px 13px;
    grid-area: 1 / 3 / 3 / 4;
    justify-self: end;
    align-self: start;

    @media (max-width: 1023px) {
        font-size: 10px;
        line-height: 100%;
        letter-spacing: 0.2px;
        padding: 8px;
        border-radius: 8px;
    }
}

.product-card__full-price {
    display: none;
    font-size: 14px;
    font-weight: 800;
    text-decoration-line: line-through;
    opacity: 0.3;
    grid-area: 4 / 1 / 5 / 2;
    margin-bottom: 2px;

    @media (max-width: 1023px) {
        font-size: 8px;
        line-height: 8px;
    }
}

.product-card__deal-price {
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    grid-area: 5 / 1 / 6 / 2;
    margin-bottom: 8px;

    @media (max-width: 1023px) {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.6px;
        margin-bottom: -4px;
    }
}

.product-card__button {
    justify-self: end;
    grid-area: 4 / 2 / 6 / 4;
}