.product-detail__button-wrapper {
    display: inline-flex;

    border: 1px solid #858573;
    border-radius: 24px;
    background-color: #343434;
    margin-bottom: 16px;

    @media (max-width: 1023px) {
        width: 100%;
        border-radius: 12px;
        margin-bottom: 12px;
    }
}

.product-detail__button {
    width: 176px;
    padding: 22px 0;
    font-family: Geometria;
    font-weight: 500;
    font-size: 16px;
    border-radius: 24px;
    text-align: center;
    color: #eaedbd;
    background-color: #343434;
    z-index: 1;

    &:last-child {
        margin-left: -12px;
    }

    &--active {
        color: #6b5a25;
        background-color: #fbffca;
        outline: 1px solid #eaedbd;
        position: relative;
        z-index: 2;
    }

    @media (max-width: 1023px) {
        width: 55%;
        padding: 12px 0;
        font-weight: 700;
        font-size: 12px;
        line-height: 100%;
        border-radius: 12px;
    }
}

.product-detail__item {
    display: grid;
    border-radius: 24px;

    &--desc {
        grid-template-columns: 49.5% 4% 46.5%;
    }

    &--review {
        grid-template-columns: 72% 3% 25%;
    }

    @media (max-width: 1023px) {
        border-radius: 12px;
        grid-template-columns: auto;

        &--desc {
            grid-template-rows: 1fr 73px 2fr;
        }

        &--review {
            display: block;
        }
    }
}

.product-detail__desc {
    padding: 40px 57px 60px 32px;
    z-index: 2;
    border-radius: 24px;
    background-color: #343434;
    grid-area: 1/1/2/3;

    @media (max-width: 1023px) {
        padding: 24px 20px 32px;
        border-radius: 12px;
        grid-area: 2/1/4/2;
    }

    @media (max-width: 359px) {
        padding: 24px 12px 32px;
    }
}

.product-detail__desc-text {
    &:not(:last-child) {
        margin-bottom: 20px;
    }

    @media (max-width: 1023px) {
        font-size: 12px;
        line-height: 140%;
    }
}

.product-detail__diagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 91px 57px 0 57px;
    border-radius: 12px;
    background-color: #1d1c1c;
    grid-area: 1/2/2/4;
    padding: 20px 0;
    padding-left: 50px;

    @media (max-width: 1023px) {
        // align-items: start;
        // padding: 32px 20px 0;
        // grid-area: 1/1/3/2;
    }

    @media (max-width: 359px) {
        padding: 32px 12px 0;
    }
}

.product-detail__diagram {
    width: 100%;
    height: auto;

    @media (max-width: 1023px) {
        width: 100%;
        height: auto;
    }
}

.product-detail__reviews {
    padding: 40px 265px 62px 32px;
    border-radius: 24px;
    background-color: #343434;
    grid-area: 1/1/2/3;
    z-index: 2;

    @media (max-width: 1023px) {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 12px;
    }
}

.product-detail__reviews-text {
    font-size: 14px;
    line-height: 18px;

    p {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &:not(:last-child) {
        margin-bottom: 40px;
    }
    @media (max-width: 1023px) {
        order: 2;
        font-size: 12px;
        line-height: 135%;
        margin: 0;

        &:first-child {
            display: none;
        }
    }
}

.product-detail__reviews-author {
    font-weight: 800;
    font-size: 14px;
    font-style: normal;

    @media (max-width: 1023px) {
        font-size: 12px;
        margin-bottom: 7px;
    }
}

.product-detail__rating {
    grid-area: 1/2/2/4;
    background-color: #1d1c1c;

    @media (max-width: 1023px) {
        display: none;
    }
}
