.footer {
    @media (max-width: 1023px) {
    }
}

.footer__menu {
    background: #1d1c1c;
    height: 141px;

    display: flex;
    align-items: center;

    padding: 20px 0;

    @media (max-width: 1023px) {
        height: 60px;
        padding: 16px 0;
    }
}

.footer__inner {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 0;
}

.footer__logo {
    width: 139px;
    height: 47px;

    @media (max-width: 1023px) {
        width: 87px;
        height: 29px;
    }
}

.footer__nav {
    > ul {
        display: flex;
        align-items: center;

        > li {
            margin-right: 61px;

            > a {
                color: white;
                opacity: 0.6;

                @media (max-width: 1023px) {
                    font-size: 9px;
                }
            }

            @media (max-width: 1023px) {
                margin-right: 14px;
            }
        }
    }
}

.footer__soc {
    @media (max-width: 1023px) {
        svg {
            width: 45px;
            height: 16px;
        }
    }
}

.footer__contacts {
    padding: 45px 20px 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1279px) {
        padding: 16px 16px 45px;
        align-items: flex-end;
    }
}

.footer__note {
    flex: 0 0 calc(100% - 300px);
    max-width: calc(100% - 300px);

    margin-bottom: 45px;

    > p {
        font-size: 12px;
        line-height: normal;
        letter-spacing: 0.6px;
        max-width: 736px;
    }

    @media (max-width: 1023px) {
        flex: 0 0 100%;
        max-width: 100%;

        margin-bottom: 12px;

        > p {
            font-size: 7px;
            letter-spacing: 0.35px;
        }
    }
}

.footer__address {
    flex: 0 0 290px;
    max-width: 290px;

    > p,
    > address {
        font-size: 12px;
        line-height: normal;
        letter-spacing: 0.6px;

        > a {
            display: inline;
            color: white;
        }
    }

    @media (max-width: 1023px) {
        flex: 0 0 150px;
        max-width: 150px;

        > p,
        > address {
            font-size: 7px;
            letter-spacing: 0.35px;
        }
    }
}

.footer__payment {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer__subtitle {
    margin-bottom: 12px;
}
