.product {
    width: 1440px;
    padding: 0 42px 0 25px;
    margin: 0 auto;
    margin-bottom: 48px;

    @media (max-width: 1023px) {
        width: 360px;
        padding: 0 16px;
        margin-bottom: 70px;
    }
}

.product__desc {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    column-gap: 40px;
    margin-bottom: 46px;

    @media (max-width: 1023px) {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }
}

.product__image-wrapper {
    grid-area: 1 / 1 / 3 / 2;

    @media (max-width: 1023px) {
        margin-bottom: 24px;
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
    }
}

.product__features {
    margin-bottom: 26px;
    grid-area: 1 / 2 / 2 / 3;

    @media (max-width: 1023px) {
        margin-bottom: 17px;
    }
}

.product__buying {
    display: flex;
    padding: 21px 0;
    border-top: 2px solid #343434;
    border-bottom: 2px solid #343434;
    grid-area: 2 / 2 / 3 / 3;

    @media (max-width: 1023px) {
        padding: 11px 0;
        justify-content: space-between;
        align-items: center;
    }
}

.product__price {
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 86px;

    @media (max-width: 1023px) {
        font-size: 22px;
        line-height: 125%;
        letter-spacing: 1.1px;
        margin-right: 0;
    }
}