.form-item {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    @media (max-width: 1023px) {
        row-gap: 7px;
    }
}

.form-item__label {
    font-weight: 700;

    @media (max-width: 1023px) {
        font-size: 12px;
    }
}

.form-item__input {
    font-family: Geometria;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    border-radius: 8px;
    border: 1px solid #858573;
    color: #ffffff;
    background-color: #343434;
    padding: 13px 16px;
    flex-grow: 1;

    &::placeholder {
        font-family: Geometria;
        font-style: normal;
        font-weight: 500;
        font-size: inherit;
        line-height: 100%;
        color: #ffffff;
        opacity: 0.3;
    }

    &--error {
        border: 1px solid #d62c2c;
        margin-bottom: 12px;
    }

    &:focus {
        border: 1px solid #eaedbd;
        outline: none;
    }

    &--error:focus {
        border: 1px solid #d62c2c;
    }

    @media (max-width: 1023px) {
        padding: 9px 16px 11px;
        font-size: 12px;
    }
}

.form-item__label-upload {
    padding: 16px 20px;
    border-radius: 8px;
    border: 1px dashed #eaedbd;
    background-color: #343434;
    color: #eaedbd;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;

    @media (max-width: 1023px) {
        padding: 11px 12px;
        font-size: 12px;
        text-align: center;
    }
}

.form-item__desk-upload {
    margin-left: 3px;

    @media (max-width: 1023px) {
        display: none;
    }
}

.form-item__upload-warning {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    white-space: nowrap;

    @media (max-width: 1023px) {
        font-size: 12px;
    }
}

.form-item__select {
    position: relative;
    height: 48px;

    &[data-state='active'] {
        .form-item__select-title {
            &::before {
                transform: translate(-3px, -50%) rotate(-45deg);
            }

            &::after {
                transform: translate(3px, -50%) rotate(45deg);
            }
        }

        .form-item__select-content {
            opacity: 1;
        }

        .form-item__select-label + .form-item__select-input + .form-item__select-label {
            max-height: 48px;
            border-top-width: 1px;
        }
    }
}

/* Реализация с radio button */

.form-item__select-title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 16px;
    border-radius: 8px;
    border: solid 1px #858573;
    background-color: #343434;
    cursor: pointer;

    &--opened {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-color: #eaedbd;
    }

    &--error {
        border: 1px solid #d62c2c;
        margin-bottom: 12px;
    }

    &:focus {
        border: 1px solid #eaedbd;
        outline: none;
    }

    &--error:focus {
        border: 1px solid #d62c2c;
    }
}

.form-item__select-content {
    position: absolute;
    top: 48px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #343434;
    // border: 1px solid #eaedbd;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all 0.3s ease-out;
    opacity: 1;
    z-index: 8;
}

.form-item__select-input {
    display: none;

    &:checked + label {
        color: #dedede;
    }

    &:disabled + label {
        opacity: 0.6;
        pointer-events: none;
    }
}

.form-item__select-label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    max-height: 0;
    padding: 0 16px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    overflow: hidden;
}

/* Реализация с select */

// .form-item__select {
//     position: relative;
//     padding: 15px 16px;
//     border-radius: 8px;
//     border: 1px solid #858573;
//     background-position: right 20px center;
//     background-repeat: no-repeat;
//     background-color: #343434;
//     color: #ffffff;
//     font-family: inherit;
//     font-size: 16px;
//     font-weight: 500;
//     line-height: 100%;
//     appearance: none;
//     outline: none;

//     &--opened {
//         border-bottom-left-radius: 0;
//         border-bottom-right-radius: 0;
//         border-color: #eaedbd;
//     }

//     @media (max-width: 1023px) {
//         padding: 11px 12px;
//         font-size: 12px;
//     }
// }

.form-item__notice {
    font-weight: 800;
    line-height: 125%;
    opacity: 0.3;
    margin-top: 7px;

    &--extend {
        font-size: 12px;
        font-weight: 700;
        margin-top: -4px;
    }

    @media (max-width: 1023px) {
        width: 264px;
        font-size: 12px;

        &--extend {
            font-size: 9px;
            font-weight: 700;
            padding-right: 20px;
            margin-top: -2px;
            margin-bottom: -4px;
        }
    }
}
