.services {
    @media (max-width: 1023px) {
        padding-bottom: 50px;
    }
    @media (max-width: 359px) {
        padding-bottom: 30px;
    }
}

.services__list {
    display: flex;
    column-gap: 25px;

    @media (max-width: 1023px) {
        flex-wrap: wrap;
        gap: 12px;
    }
}

.services__item {
    flex-basis: calc(33% - 12px);
    padding: 50px 55px;
    border-radius: 24px;
    background-color: #1d1c1c;
    
    > svg {
        margin-bottom: 21px;
    }

    &--payment .services__desc {
        width: 290px;
    }

    &--international .services__desc {
        width: 226px;
    }

    @media (max-width: 1023px) {
        flex-basis: calc(50% - 6px);
        padding: 20px;
        border-radius: 12px;

        &--payment {
            order: 2;
            flex-basis: 100%;
        }

        &--payment .services__desc {
            width: 250px;
        }

        &--international .services__desc {
            width: auto;
        }
    }

    @media (max-width: 359px) {
        padding: 12px;
    }
}

.services__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 125%;
    letter-spacing: 1.3px;
    color: #eaedbd;
    margin-bottom: 12px;

    @media (max-width: 1023px) {
        font-size: 16px;
        line-height: 105%;
        letter-spacing: 0.8px;
        margin-bottom: 8px;
    }
}

.services__desc {
    font-weight: 800;
    line-height: 125%;
    opacity: 0.3;

    @media (max-width: 1023px) {
        font-size: 10px;
        line-height: 120%;
    }
}