@font-face {
    font-family: 'Geometria';
    src: url('../fonts/GeometriaMedium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/GeometriaBold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/GeometriaExtraBold.woff') format('woff');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/GeometriaExtraBold.woff') format('woff');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoBold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #000000;
    background-image: url('./body-bg.png');
    background-size: contain;
    background-repeat: repeat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
}

button,
input {
    border: none;
    box-shadow: none;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main {
    margin-bottom: 90px;

    @media (max-width: 1023px) {
        margin-bottom: 60px;
        overflow: hidden;
    }
}

.section {
    max-width: 1440px;
    padding: 0 20px 24px;
    margin: 0 auto;

    @media (max-width: 1023px) {
        max-width: 460px;
        padding: 0 16px 12px;
    }

    @media (max-width: 359px) {
        padding: 0 8px 12px;
    }
}
