@font-face {
    font-family: 'Geometria';
    src: url('../fonts/GeometriaMedium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/GeometriaBold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/GeometriaExtraBold.woff') format('woff');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/GeometriaExtraBold.woff') format('woff');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoBold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #000000;
    background-image: url('./body-bg.png');
    background-size: contain;
    background-repeat: repeat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
}

button,
input {
    border: none;
    box-shadow: none;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main {
    margin-bottom: 90px;
    min-height: 60vh;

    @media (max-width: 1439px) {
        overflow: hidden;
    }

    @media (max-width: 1023px) {
        margin-bottom: 60px;
    }
}

.section {
    max-width: 1440px;
    padding: 0 20px 24px;
    margin: 0 auto;

    @media (max-width: 1023px) {
        max-width: 460px;
        padding: 0 16px 12px;
    }

    @media (max-width: 359px) {
        padding: 0 8px 12px;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;

    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    border-radius: 24px;
    padding: 15px 34px;
    color: #6b5a25;
    background: #eaedbd;
    text-align: center;

    @media (max-width: 1023px) {
        font-size: 9px;
        line-height: 100%;
        border-radius: 100px;
    }

    &--header {
        padding: 12px 34px;

        @media (max-width: 1023px) {
            padding: 5px 16px;
        }
    }

    &--slider {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        border: currentColor;

        @media (max-width: 1023px) {
            padding: 12px 20px;
            font-size: 12px;
            line-height: 12px;
        }
    }

    &--product {
        min-width: 125px;
        padding: 11px 12px;

        @media (max-width: 1023px) {
            min-width: auto;
            padding: 6px 10px;
        }

        &:disabled {
            font-weight: 700;
            padding-right: 0;
            padding-left: 0;
            text-transform: uppercase;
            background-color: inherit;
            color: #fff;
        }
    }

    &--buying {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        padding: 14px 35px;

        @media (max-width: 1023px) {
            font-size: 12px;
            line-height: 100%;
            padding: 12px 21px;
        }
    }

    &--cart {
        font-size: 16px;
        line-height: 100%;
        border-radius: 100px;

        @media (max-width: 1023px) {
            font-size: 14px;
            line-height: 100%;
            padding: 12px 32px;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @media (max-width: 1023px) {
        row-gap: 16px;
    }
}

.form__item:last-of-type {
    margin-bottom: 24px;

    @media (max-width: 1023px) {
        margin-bottom: 12px;
    }
}

.form__button {
    font-family: inherit;
    flex-grow: 1;
}

.button--form {
    padding: 20px 40px;
    font-weight: 700;
    line-height: 100%;

    @media (max-width: 1023px) {
        padding: 12px 32px;
        font-size: 14px;
        font-weight: 800;
    }
}

.form-item {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    @media (max-width: 1023px) {
        row-gap: 7px;
    }
}

.form-item__label {
    font-weight: 700;

    @media (max-width: 1023px) {
        font-size: 12px;
    }
}

.form-item__input {
    font-family: Geometria;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    border-radius: 8px;
    border: 1px solid #858573;
    color: #ffffff;
    background-color: #343434;
    padding: 13px 16px;
    flex-grow: 1;

    &::placeholder {
        font-family: Geometria;
        font-style: normal;
        font-weight: 500;
        font-size: inherit;
        line-height: 100%;
        color: #ffffff;
        opacity: 0.3;
    }
    &.is-error,
    &--error {
        border: 1px solid #d62c2c;
        margin-bottom: 12px;
    }

    &:focus {
        border: 1px solid #eaedbd;
        outline: none;
    }

    &--error:focus {
        border: 1px solid #d62c2c;
    }

    @media (max-width: 1023px) {
        padding: 9px 16px 11px;
        font-size: 12px;
    }
}

.form-item__notice {
    font-weight: 800;
    line-height: 125%;
    opacity: 0.3;
    margin-top: 7px;

    @media (max-width: 1023px) {
        width: 264px;
        font-size: 12px;
        font-weight: 800;
        line-height: 125%;
    }
}

.error-text {
    font-size: 12px;
    color: #d62c2c;
    margin-top: -20px;
}
